.cart {
    padding: 1rem;
    background-color: #FFE0B3;
    position: sticky;
    top: 0;
}

.btn-clear-cart {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
    background: #FF3030;
    border-radius: 4px;
    color: white;
    height: 56px;
    font-size: 21px;
    align-items: center;
}